<div class="week-container">
  <div class="days-of-week">
    <h3>Monday</h3>
    <h3>Tuesday</h3>
    <h3>Wednesday</h3>
    <h3>Thursday</h3>
    <h3>Friday</h3>
    <h3>Saturday</h3>
    <h3>Sunday</h3>
  </div>
</div>
<div>
    <div class="monthly-calendar" *ngFor="let rowDay of calendarMatrix">
      <app-day-items *ngFor="let day of rowDay"
                     [day]="day"
                     [currentMonth]="currentMonth"
                     [notes]="notes"
                     (click)="openDialog(day, $event)"></app-day-items>
    </div>
</div>
